<div class="grid simple">
  <div class="grid-title no-border">
    <h4>Companies</h4>
    <div class="tools"> 
      <a class="collapse" href="javascript:;"><i class="fa fa-chevron-down"></i></a> 
      <a class="config" data-toggle="modal" href="#grid-config"></a> 
      <a class="reload" href="javascript:;"></a> 
      <a class="remove" href="javascript:;"></a> 
    </div>
  </div>
  <div class="grid-body no-border">
    <div class="toolbar">
      <div class="table-tools-action">
        <%= link_to 'Add New Company', new_admin_company_path, class: "btn btn-primary" %>        
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Fax Number</th>
          <th>Website</th>
          <th>Employee Size</th>
          <th>Revenue</th>
          <th>Address</th>
          <th>SIC Code</th>
          <th>Industry</th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= link_to company.name, admin_company_path(company) %></td>
            <td><%= number_to_phone(company.number, area_code: true) %></td>
            <td><%= number_to_phone(company.fax, area_code: true) %></td>
            <td><%= link_to company.website, company.website %></td>
            <td><%= company.employee_size %></td>
            <td><%= company.revenue %></td>
            <td><%= company.street %>, <%= company.city %> <%= company.state %>, <%= company.zip %> <%= company.county %></td>
            <td><%= company.sic_code %></td>
            <td><%= company.industry %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @companies %>
    <h3> Import Companies </h3>
    <%= form_tag import_admin_companies_path, multipart: true do %>
      <%= file_field_tag :file, class: "form-control" %>
      <%= submit_tag "Upload Companies" %>
    <% end %>
  </div>
</div>
