<%= simple_form_for ['admin', @campaign], defaults: { input_html: { class: 'form-control' } } do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.association :company%>
    <%= f.input :start_date,  as: :date_time_picker  %>
    <%= f.input :end_date ,  as: :date_time_picker %>
    <%= f.button :submit %>
<% end %>
