%p#notice= notice
%p
  %strong Name:
  = @campaign.name
%p
  %strong Company:
  = @campaign.company_id
%p
  %strong Start date:
  = @campaign.start_date
%p
  %strong End date:
  = @campaign.end_date
= link_to 'Edit', edit_campaign_path(@campaign)
|
= link_to 'Back', campaigns_path
