<!DOCTYPE html>
<html>
<head>
  <title>GsgCall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<%= link_to "Call Center", root_path, class: "navbar-brand" %>
		</div>
	</nav>
</header>
<div id="main" class="container">
	<%= yield %>
</div>


</body>
</html>
